body{
    background-color: #E9C3B2;
}

.image{
    position: absolute;
    width: 740px;
    height: 800px;
    left: 300px;
    top: 121px;
}
.search{
    position: relative;
    left: 450px;
    top: 140px;
    width: 400px;
    text-align: center;
}
.search h1{
    color:#85191A ;
    font-size: 800;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}
.search p{
    color: #85191A;
    font-size: large;
    font-style: normal;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.search input{
    color: #85191A;
    border-color: #85191A;
    border-radius: 20px;
    height: 28px;
    width: 200px;
    background-color: transparent;
    padding-left: 10px;
    position: relative;
    top: 10px;
}